@tailwind base;
@tailwind components;

@tailwind utilities;

.sticky-col {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
